@model Marsad.Models.DataSourceGroup
@using Marsad.Models.Controls
@{
    ViewBag.Title = "إنشاء مجموعة مصادر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
<div class="row">
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>إنشاء مجموعة مصادر</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
            <div class="col-sm-10 col-xs-12">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1", @Value = ViewBag.NextCode } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
            <div class="col-sm-10 col-xs-12">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 col-xs-12">مصادر البيانات</label>
            <div class="col-sm-10 col-xs-12">
                @Html.Partial("~/Views/Shared/Controls/_MultiSelect.cshtml", new MultiSelectModel() { ID = "dataSources", Data = ViewBag.DataSources, Title = "", Name = "dataSources", Selected = ViewBag.dataSourceIds })
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 col-xs-12">
                <input type="submit" value="إنشاء" class="btn btn-success" />
                @Html.ActionLink("رجوع", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

</div>
</div>

