@model Marsad.Models.DataSourceGroup

@{
    ViewBag.Title = "حذف مجموعة مصادر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12">

<h3>هل تريد فعلاً حذف السجل ؟</h3>
<div>
    <h4>حذف مجموعة مصادر</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
             <input type="submit" value="حذف" class="btn btn-danger" />
                        @Html.ActionLink("رجوع", "Index",null,new { @class="btn btn-default"})
        </div>
    }
</div>
		</div>
	</div>
</div>
