@model Marsad.Models.GeoArea

@{
    ViewBag.Title = "بيانات "+ViewBag.TypeName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
<div class="row">
<div class="col-xs-12">
<div>

    <h4>بيانات @ViewBag.TypeName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @ViewBag.ParentName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentGeoArea.Name)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.ID },new {@class="btn btn-primary"})
    @Html.ActionLink("الرئيسية", "Index",new { Type=ViewBag.Type},new {@class="btn btn-default"})
</p>
</div>
</div>
</div>
