@model PagedList.IPagedList<Marsad.Models.GeoArea>
@using PagedList.Mvc;
@using Marsad.Helpers;


@{
    ViewBag.Title = "تحديث القيم";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>@ViewBag.TypeName</h1>
            <hr />

            <div class="col-sm-2">
                @Html.ActionLink("إنشاء جديد", "Create", new { type = ViewBag.Type }, new { @class = "btn btn-success" })
            </div>
            <div class="col-sm-8">
                <form action="@Url.Action("Index")">
                    <div class="input-group">
                        <input class="form-control" name="searchString" value="@ViewBag.CurrentFilter" placeholder="بحث" />
                        <span class="input-group-btn">
                            <input type="hidden" value="@ViewBag.Type" name="Type" />
                            <input type="submit" value="بحث" class="btn btn-primary" />
                        </span>
                    </div>
                </form>
            </div>
            <table class="table table-striped jambo_table">
                <thead>
                    <tr>
                        <th>
                            <a href="@Url.Action("Index",new { sortOrder=ViewBag.CodeSortParm,currentFilter=ViewBag.CurrentFilter})">
                                <i class="@Html.GetSortingClass((string)ViewBag.CurrentSort,"Code")"></i> @Html.DisplayNameFor(model => model.FirstOrDefault().Code)
                            </a>
                        </th>
                        <th>
                            <a href="@Url.Action("Index",new { sortOrder=ViewBag.NameSortParm,currentFilter=ViewBag.CurrentFilter})">
                                <i class="@Html.GetSortingClass((string)ViewBag.CurrentSort,"Name")"></i> @ViewBag.TypeName
                            </a>
                        </th>
                        @if (ViewBag.Type == "Governorate")
                        {
                            <th>
                                <a href="@Url.Action("Index",new { sortOrder=ViewBag.GeoAreaIDSortParm,currentFilter=ViewBag.CurrentFilter})">
                                    <i class="@Html.GetSortingClass((string)ViewBag.CurrentSort,"GeoAreaID")"></i> @ViewBag.ParentName
                                </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Index",new { sortOrder=ViewBag.GeoAreaIDSortParm,currentFilter=ViewBag.CurrentFilter})">
                                    <i class="@Html.GetSortingClass((string)ViewBag.CurrentSort,"GeoAreaID")"></i> المنطقة
                                </a>
                            </th>
                        }
                        else
                        {
                            <th>
                                <a href="@Url.Action("Index",new { sortOrder=ViewBag.GeoAreaIDSortParm,currentFilter=ViewBag.CurrentFilter})">
                                    <i class="@Html.GetSortingClass((string)ViewBag.CurrentSort,"GeoAreaID")"></i> @ViewBag.ParentName
                                </a>
                            </th>
                        }
                        <th width="250"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            @if (ViewBag.Type == "Governorate")
                            {
                                if (item.ParentGeoArea.Type == "Region")
                                {
                                    <td>
                                        بدون حاضرة
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ParentGeoArea.Name)
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ParentGeoArea.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ParentGeoArea.ParentGeoArea.Name)
                                    </td>
                                }

                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.ParentGeoArea.Name)
                                </td>
                            }

                            <td>
                                @Html.ActionLink("تعديل", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("بيانات", "Details", new { id = item.ID }, new { @class = "btn btn-default" })
                                @Html.ActionLink("حذف", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="col-md-2">صفحة @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</div>
            @if (Model.PageCount > 1)
            {
                <div class="col-md-8">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            }

        </div>
    </div>
</div>