@{
    ViewBag.Title = "الرئيسية";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <h1>قاعدة بيانات المرصد الحضري للمنطقة الشرقية</h1>
    </div>
</div>

<!-- top tiles -->
<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-bar-chart"></i> إجمالي المؤشرات</span>
        <div class="count">@ViewBag.IndicatorCount</div>
        <span class="count_bottom"><i class="green">@ViewBag.ParentIndicatorCount</i> مؤشرات رئيسية</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-folder"></i> عدد الحزم</span>
        <div class="count">@ViewBag.BundleCount</div>
        @*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> 3 شهور</span>*@
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-file"></i> مصادر البيانات</span>
        <div class="count green">@ViewBag.DataSourceCount</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewBag.DataSourceGroupCount </i> مجموعات</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-home"></i> الجهات</span>
        <div class="count">@ViewBag.EntitiesCount</div>
        @*<span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> أخر إسبوع</span>*@
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> ضباط الإتصال</span>
        <div class="count">@ViewBag.OfficersCount</div>
    </div>

</div>
<!-- /top tiles -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" style="background: white;">
        <div class="dashboard_graph">
            <div class="row x_title">
                <div class="col-md-12">
                    <h3> نشاط ضباط الإتصال</h3>
                </div>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ضابط الإتصال</th>
                            <th>الجهة</th>
                            <th>عدد القيم المحدثة</th>
                            <th>اخر تحديث</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.OfficersKPI)
                        {
                            <tr>
                                <td>@item.ApplicationUser.Name</td>
                                <td>@item.ApplicationUser.Entity.Name</td>
                                <td>@item.Count</td>
                                <td>@item.LastUpdated</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />