@model Marsad.Models.Indicator

@{
    ViewBag.Title = "بيانات مؤشر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
<div class="row">
<div class="col-xs-12">
<div>

    <h4>بيانات مؤشر</h4>
    <hr />
    <dl class="dl-horizontal">

        @if (Model.HasParent)
        {
            <dt>
                المؤشر الرئيسي
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParentIndicator.Name)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bundle.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bundle.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndicatorType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndicatorType.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.ElementCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeasureUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeasureUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correlation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correlation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.References)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.References)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalculationMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalculationMethod)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.ID },new {@class="btn btn-primary"})
    @Html.ActionLink("الرئيسية", "Index",null,new {@class="btn btn-default"})
</p>
</div>
</div>
</div>
