@model Marsad.Models.Indicator


<div class="container">
    <div class="row">
        @using (Html.BeginForm("PostCreateIndicator", "Indicators", FormMethod.Post, new { @id = "indicatorForm" }))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
                <div class="col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1", @Value = ViewBag.NextCode } })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
                <div class="col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ElementCount, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
                <div class="col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.ElementCount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ElementCount, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MeasureUnit, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
                <div class="col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.MeasureUnit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MeasureUnit, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IndicatorTypeID, null, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
                <div class="col-sm-10 col-xs-12">
                    @Html.DropDownList("IndicatorTypeID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IndicatorTypeID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BundleID, null, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
                <div class="col-sm-10 col-xs-12">
                    @Html.DropDownList("BundleID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BundleID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
                <div class="col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Correlation, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
                <div class="col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.Correlation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Correlation, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.References, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
                <div class="col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.References, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.References, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CalculationMethod, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
                <div class="col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.CalculationMethod, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CalculationMethod, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 col-xs-12">
                    <input id="submit" type="submit" value="إنشاء" class="btn btn-success" />
                    <input id="cancel" type="button" value="الغاء" class="btn btn-default" />
                </div>
            </div>
        </div>
        }

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $mymodal = $("#addIndicatorModel");
        $('#cancel').click(function () {
            $mymodal.modal("hide");
        });

        var $form = $('#indicatorForm');
        $form.submit(function (e) {
            var $form = $(this);
            if ($form.valid()) {
                $.ajax({
                    url: $form.attr('action'),
                    async: true,
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    beforeSend: function (xhr, opts) { },                    
                    complete: function () {},
                    success: function (data) {
                        if (data.success) {
                            $('#IndicatorID').append('<option value="'+data.data.ID+'">'+data.data.Name+'</option>');
                            $mymodal.modal("hide");
                        }
                        else {
                            alert("حدث خطأ");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr);
                        alert("حدث خطأ");
                    }
                });
            }
            return false;
        });

        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse($('form'));
    });

</script>
