@model Marsad.Models.Case
@using Marsad.Models.Controls
@{
    ViewBag.Title = "تعديل قضية";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
<div class="row">
<div class="col-xs-12">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>تعديل قضية</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
            <div class="col-sm-10 col-xs-12">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
            <div class="col-sm-10 col-xs-12">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
            <div class="col-sm-10 col-xs-12">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PeriodID, null, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
            <div class="col-sm-10 col-xs-12">
                @Html.DropDownList("PeriodID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PeriodID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 col-xs-12">المؤشرات المرتبطة</label>
            <div class="col-sm-10 col-xs-12">
                @Html.Partial("~/Views/Shared/Controls/_MultiSelect.cshtml", new MultiSelectModel() { ID = "indicatorIds", Data = ViewBag.Indicators, Title = "", Name = "indicatorIds", Selected = ViewBag.indicatorIds })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 col-xs-12">الجهات المرتبطة</label>
            <div class="col-sm-10 col-xs-12">
                @Html.Partial("~/Views/Shared/Controls/_MultiSelect.cshtml", new MultiSelectModel() { ID = "entityIds", Data = ViewBag.Entities, Title = "", Name = "entityIds", Selected = ViewBag.entityIds })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10 col-xs-12">
                <input type="submit" value="حفظ" class="btn btn-primary" />
                @Html.ActionLink("الرئيسية", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

    

</div>
</div>
</div>


