@{
    ViewBag.Title = "CityIndicators";
    Layout = "~/Views/Shared/_CityLayout.cshtml";
}
<a href="@Url.Action("CityBundles","Reports",new { cityName=ViewBag.CityName})"><h2>@ViewBag.CityName</h2></a>
<a href="@Url.Action("CityYearRange","Reports",new { cityName=ViewBag.CityName,bundleId=ViewBag.BundleID})"><h2>@ViewBag.BundleName</h2></a>
@if (ViewBag.Years == null || ViewBag.Years.Length <= 0 || ViewBag.CurrentYear == null || ViewBag.Indicators == null)
{
    <h4>لا يوجد بيانات</h4>
}
else
{
    <select name="currentYear" id="currentYear" onchange="changeCurrentYear()">
        @foreach (var year in ViewBag.Years)
        {
            <option value="@year" @(ViewBag.CurrentYear == year ? "selected" : "")>@year</option>
        }
    </select>
    <div id="keywords-container">
        <input class="form-control" id="keywords" placeholder="بحث ...." />
    </div>
    <div class="indicatorTable">
        <div class="head">
            <div class="cell" style="width:60%">المؤشر</div>
            <div class="cell" style="width:40%">قيمة المؤشر</div>
        </div>
        @foreach (Indicator val in ViewBag.Indicators.Keys)
        {
            <div class="row">
                <div class="cell kwv" style="width:60%">@val.Name</div>
                <div class="cell" style="width:40%;text-align:center;">@ViewBag.Indicators[val].ToString("#.##") @val.MeasureUnit</div>
            </div>
        }
    </div>
}
<script type="text/javascript">
    function changeCurrentYear(){
        var years = @Json.Encode(ViewBag.Years);
        var _years = "";
        for (var i = 0; i < years.length; i++) {
            _years += "&years=" + years[i];
        }

        var href = "@Url.Action("CityIndicators","Reports")?cityName=@ViewBag.CityName&bundleId=@ViewBag.BundleID&currentYear=" + document.getElementById("currentYear").value + _years;
        window.location = href;
    }
    $(document).ready(function () {
        $('#keywords').keyup(function () {
            var val = $(this).val();
            $('.kwv').each(function () {
                var text = $(this).text();
                if (val == '' || text.indexOf(val) > -1) {
                    $(this).parent().show();
                }
                else {
                    $(this).parent().hide();
                }
            });
        });
    });
</script>