@model List<Marsad.Models.CalculatedValue>
@{
    Layout = "";
}
<style>
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (Model == null || Model.Count == 0)
            {
                <h3 class="text-danger">لا يوجد بيانات</h3>
            }
            else
            {
                <div id="html-data">
                    <h2>@Model.First().EquationYear.Equation.Indicator.Name</h2>
                    <table class="table table-stripped" id="html-table">
                        <thead>
                            <tr>
                                @foreach (var cv in Model)
                                {
                                    <td>@cv.EquationYear.Year</td>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @foreach (var cv in Model)
                                {
                                    <td>@cv.Value @cv.EquationYear.Equation.Indicator.MeasureUnit</td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="chartContainer" style="direction:ltr; height: 370px; max-width: 920px;"></div>
                <br />
                <div id="barchartContainer" style="direction:ltr; height: 370px; max-width: 920px;"></div>
                <script>
                    var data = [
                        @foreach (var cv in Model)
                        {
                            <text>{y: </text>@cv.Value<text>, label: "</text>@cv.EquationYear.Year<text>"},</text>
                        }
                    ];
                    var chart;
                    var bchart;
                    $(function () {
                        $('#export').unbind();
                        $('#export').click(function () {
                            var pdataUrl = $('#chartContainer canvas:first').get(0).toDataURL();
                            var bdataUrl = $('#barchartContainer canvas:first').get(0).toDataURL();
                            var pdf = new jsPDF();
                            pdf.setFont('Amiri');
                            pdf.text('تقارير المقارنة لمؤشر في مدة زمنية', (pdf.internal.pageSize.width / 2), 12, 'center');
                            pdf.text($('#html-data h2').text(), (pdf.internal.pageSize.width / 2), 25, 'center');
                            pdf.autoTable({ html: '#html-table',startY:40,styles: {textAlign:"right",font: "Amiri"}});
                            pdf.addImage(pdataUrl, 'JPEG', 18, 70,180,80);
                            pdf.addImage(bdataUrl, 'JPEG', 18, 170,180,80);
                            pdf.save("reprt.pdf");
                        });
                        chart = new CanvasJS.Chart("chartContainer", {
                            animationEnabled: true,
                            title: {
                                text: "@Model.First().EquationYear.Equation.Indicator.Name"
                            },
                            data: [{
                                type: "pie",
                                startAngle: 240,
                                yValueFormatString: "##0.00",
                                indexLabel: "{label} {y}",
                                dataPoints: data
                            }]
                        });
                        chart.render();
                        bchart = new CanvasJS.Chart("barchartContainer", {
	                        animationEnabled: true,

	title:{
		text:"@ViewBag.IndicatorName"
	},
	axisX:{
		interval: 1
	},
	axisY2:{
		interlacedColor: "rgba(1,77,101,.2)",
		gridColor: "rgba(1,77,101,.1)",
		title: "@Model.First().EquationYear.Equation.Indicator.Name"
	},
	data: [{
		type: "column",
		name: "companies",
		axisYType: "secondary",
		color: "#014D65",
		dataPoints: data
	}]
            });
                        bchart.render();

                    });


                </script>
            }
        </div>
    </div>
</div>
