@{
    Layout = "~/Views/Shared/_Plain.cshtml";
}
@Styles.Render("~/Content/mapReportStyle")
<style>
    body {
        background-color: white;
        color: black;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>تقارير المقارنة لمؤشر في نطاق حغرافي</h2>
            <hr />
            <div class="form-group">
                <label class="control-label col-sm-2 col-xs-12">الحزمة</label>
                <div class="col-sm-10 col-xs-12">
                    @Html.DropDownList("BundleID", null, htmlAttributes: new { @class = "form-control", @id = "BundleID" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2 col-xs-12">المؤشر</label>
                <div class="col-sm-10 col-xs-12">
                    <select id="IndicatorID" class="form-control" required>
                        <option value="">-- إختر المؤشر --</option>
                    </select>
                </div>
            </div>
            <div id="indicator">
                <div class="col-xs-12">
                    <div style="width:100%;max-width:700px;margin:auto">
                        <div id="map" style="width: 100%; height: 500px;"></div>
                        <input type="range" class="custom-range" min="0" max="0" id="yearRange">
                        <div class="full-width text-center" id="currentYear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section  scripts{
    @Scripts.Render("~/scripts/charts")
    @Scripts.Render("~/Content/mapReport");

    <script type="text/javascript">
        var backgroundColor = '@(ViewBag.backgroundColor!=null?ViewBag.backgroundColor:"#f4fcff")';
        var startColor = '@(ViewBag.startColor!=null?ViewBag.startColor:"#C8EEFF")';
        var endColor = '@(ViewBag.endColor!=null?ViewBag.endColor:"#0071A4")';
         var regions = {
                g1: "الخبر",
                g2: "بقيق",
                g3: "الدمام",
                g4: "النعيرية",
                g5: "القرية العليا",
                g6: "الخفجي",
                g7: "الجبيل",
                g8: "القطيف",
                g9: "رأس تنورة",
                g10:"حفر الباطن"
        };
        var map;

        $(function () {
            $('#map').vectorMap({
                map: 'govs',
                backgroundColor: backgroundColor,
                series: {
                    regions: [{
                        values: {},
                        scale: [startColor, endColor],
                        min: 0,
                        max: 0
                    }]
                },
                onRegionTipShow: function (e, el, code) {
                    if (data[code] == undefined) {
                        el.html(el.html() + ' (لا يوجد بيانات)');
                    }
                    else {
                        el.html(el.html() + ' (' + data[code] + ')');
                    }
                },
                labels: {
                    regions: {
                        render: function (code) {
                            return regions[code];
                        }
                    }
                }
            });
        });

        var years;
        var data = {};
        function fillMap(indicatorId, year) {
            data = {};
            var min, max;
             calculatedValues.forEach(function (e, i) {
                 if (e.IndicatorID == indicatorId && e.Year == year) {
                     for (k in regions) {
                         if (regions[k] === e.Name) {
                             data[k] = e.Value;
                         }
                     }
                     if (min == undefined)
                         min = e.Value;
                     else if (min > e.Value)
                         min = e.Value;
                     if (max == undefined)
                         max = e.Value;
                     else if (max < e.Value)
                         max = e.Value;
                 }
             });
            if (min == undefined) min = 0;
            if (max == undefined) max = 0;
            var map = $('#map').vectorMap('get', 'mapObject');
            map.series.regions[0].min=min;
            map.series.regions[0].max = max;
            map.series.regions[0].setValues(data);
        }

        function getIndicator(indicatorId) {
             years= [];
            calculatedValues.forEach(function (e, i) {
                if (e.IndicatorID == indicatorId && !years.includes(e.Year)) {
                    years.push(e.Year);
                }
            });
            years.sort();
            $('#yearRange').attr('max', years.length-1);
            $('#yearRange').change();
        }

        var indicators = @Html.Raw(Json.Encode(ViewBag.Indicators));
        var calculatedValues = @Html.Raw(Json.Encode(ViewBag.CalculatedValues));
        $(function () {
            $('#yearRange').change(function () {
                $('#currentYear').html(years[$(this).val()]);
                fillMap($('#IndicatorID').val(),years[$(this).val()])
            });
            $('#BundleID').change(function (e) {
                var id = $(this).val();
                $('#IndicatorID option').remove();
                $('#IndicatorID').append("<option value=''>-- إختر المؤشر --</option>");
                indicators.forEach(function (e, i) {
                    if (e.BundleID == id) {
                        $('#IndicatorID').append("<option value='"+e.ID+"'>"+e.Name+"</option>");
                    }
                });
            });
            $('#BundleID').change();
             $('#IndicatorID').change(function () {
                getIndicator($(this).val());
            });
        });
    </script>
}