@model Marsad.Models.Element

@{
    ViewBag.Title = "بيانات العنصر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
<div class="row">
<div class="col-xs-12">
<div>

    <h4>بيانات العنصر</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSource.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSource.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeasureUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeasureUnit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.ID },new {@class="btn btn-primary"})
    @Html.ActionLink("رجوع", "Index", null, new { @class = "btn btn-default" })
</p>
</div>
</div>
</div>
