@using Marsad.Helpers
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>@ViewBag.Title - المرصد الحضري بالمنطقة الشرقية</title>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/nprogress")
    @RenderSection("css", required: false)
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;background:#ededed;height:100px;">
                        <a href="@Url.Action("Index","Home")" class="site_title">
                            <span>
                                <img src="~/Images/logo.png" style="width:100%;" />
                            </span>
                            
                                <img class="logo-sm" src="~/Images/mini-logo.png" style="width:100%;" />                            
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Images/user.png" alt="" class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>مرحباً</span>
                            <h2>محمد أمين</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li class="@Html.IsSelected("Home","Index")">
                                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> الرئيسية</a>
                                </li>
                                <li class="@Html.IsSelected("Query","Indicators,DataSources,Cases")">
                                    <a><i class="fa fa-bar-chart"></i> الإستعلام <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="@Html.IsSelected("Query","Indicators")"><a href="@Url.Action("Indicators","Query")">إستعلام المؤشرات</a></li>
                                        <li class="@Html.IsSelected("Query","DataSources")"><a href="@Url.Action("DataSources","Query")">إستعلام مصادر البيانات</a></li>
                                        <li class="@Html.IsSelected("Query","Cases")"><a href="@Url.Action("Cases","Query")">قضايا التنمية</a></li>
                                    </ul>
                                </li>
                                <li class="@Html.IsSelected("Reports","")">
                                    <a><i class="fa fa-file"></i> التقارير <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#">تقارير</a></li>
                                    </ul>
                                </li>
                                <li class="@Html.IsSelected("Update","")">
                                    <a><i class="fa fa-refresh"></i> التحديث <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("GeoAreas","Update",new { type="Region"})">مناطق</a></li>
                                        <li><a href="@Url.Action("GeoAreas","Update",new { type="SubRegion"})">حاضرة</a></li>
                                        <li><a href="@Url.Action("GeoAreas","Update",new { type="Governorate"})">محافظات</a></li>
                                        <li><a href="@Url.Action("GeoAreas","Update",new { type="Town"})">بلديات</a></li>
                                        <li><a href="@Url.Action("GeoAreas","Update",new { type="City"})">مدن</a></li>
                                        <li><a href="@Url.Action("GeoAreas","Update",new { type="District"})">أحياء</a></li>
                                        <li><a href="@Url.Action("GeoAreaBundles","Update")">نظاقات جغرافية معرفة</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> مدخلات القاعدة <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index","Bundles")">إدارة الحزم</a></li>
                                        <li><a href="@Url.Action("Index","Indicators")">إدارة المؤشرات الحضرية</a></li>
                                        <li><a href="@Url.Action("Index","Elements")">إدارة العناصر والقيم</a></li>


                                        <li><a href="@Url.Action("Index","IndicatorGroups")">إدارة مجموعات المؤشرات</a></li>

                                        <li>
                                            <a>مصادر البيانات<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action("Index","Entities")">إدارة الجهات</a></li>
                                                <li><a href="@Url.Action("Index","DataSourceTypes")">إدارة نوع مصادر البيانات</a></li>
                                                <li><a href="@Url.Action("Index","Periods")">إدارة الفترات</a></li>
                                                <li><a href="@Url.Action("Index","DataSources")">إدارة مصادر البيانات</a></li>
                                                <li><a href="@Url.Action("Index","DataSourceGroups")">إدارة مجوعة مصادر البيانات</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="@Url.Action("Index","Cases")">قضايا التنمية</a></li>
                                        <li><a href="@Url.Action("Index","Equations")">المعادلات الحسابية</a></li>
                                        <li>
                                            <a>النظاقات الجغرافية<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action("Index","GeoAreas",new { type="Region"})">مناطق</a></li>
                                                <li><a href="@Url.Action("Index","GeoAreas",new { type="SubRegion"})">حاضرة</a></li>
                                                <li><a href="@Url.Action("Index","GeoAreas",new { type="Governorate"})">محافظات</a></li>
                                                <li><a href="@Url.Action("Index","GeoAreas",new { type="Town"})">بلديات</a></li>
                                                <li><a href="@Url.Action("Index","GeoAreas",new { type="City"})">مدن</a></li>
                                                <li><a href="@Url.Action("Index","GeoAreas",new { type="District"})">أحياء</a></li>
                                                <li><a href="@Url.Action("Index","GeoAreaBundles")">نظاقات جغرافية معرفة</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="@Html.IsSelected("Security","")">
                                    <a><i class="fa fa-refresh"></i> أنظمة أمن البيانات <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">

                                        <li><a href="@Url.Action("Index","User")">المستخدمين</a></li>
                                        <li><a href="@Url.Action("Index","UserGroups")">ممجموعات المستخدمين</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Images/user.png" alt="">محمد أمين
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> البيانات الشخصية</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span>الإعدادات</span>
                                        </a>
                                    </li>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> تسجيل خروج</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    جميع الحقوق محفوظة <a href="@Url.Action("Home","Index")">المرصد الحضري بالمنطقة الشرقية</a> &copy;
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>