@model Marsad.Models.RegisterViewModel
@using Marsad.Helpers
@using Marsad.Models.Controls

@{
    ViewBag.Title = "مستخدم جديد";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>مستخدم جديد</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
                <div class="col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
                <div class="col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
                <div class="col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
                <div class="col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
                <div class="col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RoleID, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
                <div class="col-sm-10 col-xs-12">
                    @{
                        var currentKey = "Visitor";
                    }
                    @foreach (var key in ViewBag.RoleID.Keys)
                    {
                        <input class="roleId" type="radio" name="RoleID" value="@ViewBag.RoleID[key]" @(currentKey == @ViewBag.RoleID[key] ? "checked" : "") /> <label> @RoleHelper.GetRoleName(ViewBag.RoleID[key])</label><br />
                    }
                    @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group officerDetails">
                @Html.LabelFor(model => model.EntityID, htmlAttributes: new { @class = "control-label col-sm-2 col-xs-12" })
                <div class="col-sm-10 col-xs-12">
                    @Html.DropDownList("EntityID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EntityID, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group officerDetails">
                <label class="control-label col-sm-2 col-xs-12">مصادر البيانات</label>
                <div class="col-sm-10 col-xs-12">
                    <select class="form-control" id="dataSource">
                        <option value="">الكل</option>
                        @foreach (var key in ViewBag.DataSources.Keys)
                        {
                            <option value="@key">@ViewBag.DataSources[key]</option>
                        }
                    </select>
                    <input type="text" class="form-control" id="elementFilter" placeholder="تصفيه العناصر..." />
                </div>
            </div>

            <div class="form-group officerDetails">
                <label class="control-label col-sm-2 col-xs-12">العناصر المسموحة</label>
                <div class="col-sm-10 col-xs-12" style="max-height:300px;overflow-y:auto">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th width="30px"></th>
                                <th>العنصر</th>
                            </tr>
                        </thead>
                        <tbody id="elementsBody">
                            @foreach (Element element in ViewBag.Elements)
                            {
                                <tr data-sourceId="@element.DataSourceID" data-name="@element.Name">
                                    <td><input type="checkbox" name="elementIds" value="@element.ID" /></td>
                                    <td>@element.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 col-xs-12">
                    <input type="submit" value="إنشاء" class="btn btn-success" />
                    @Html.ActionLink("رجوع", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
        }

    </div>
</div>


@section Scripts{
    <script>
        $(function () {
            $('.roleId').change(function () {
                var val = $(this).val();
                if (val == 'Officer') {
                    $('.officerDetails').css('display', 'block');
                }
                else {
                    $('.officerDetails').css('display', 'none');
                }
            });
            $('.roleId').change();

            $('#dataSource').change(function () {
                filterElements();
            });
            $('#elementFilter').keyup(function () {
                filterElements();
            });
            function filterElements() {
                var dataSource = $('#dataSource').val();
                var filter = $('#elementFilter').val();
                $('#elementsBody tr').each(function (i) {
                    var name = $(this).data().name+"";
                    if (($(this).data().sourceid == dataSource || (dataSource == '' || dataSource == undefined))
                        && (name.indexOf(filter) >= 0 || (filter == '' || filter == undefined))) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
    </script>
}