@model Marsad.Models.ApplicationUser

@{
    ViewBag.Title = "حذف مستخدم";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <h3>هل تريد فعلاً حذف السجل ؟</h3>
            <div>
                <h4>حذف مستخدم</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        الإسم
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        إسم المستخدم
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>

                    <dt>
                        البريد الاليكتروني
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>               

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="حذف" class="btn btn-danger" />
                        @Html.ActionLink("رجوع", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
