
@model RegisterViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>تعديل المستخدم</h4>
    <hr />


    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EntityName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EntityName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @foreach (var role in ViewBag.Roles)
            {
                <input type="radio" name="role" value="@role.Name" class="role" @(role.Name.Equals("User") ? "checked" : "") /> <label>@role.Name</label> <br />
            }
        </div>
    </div>


    <div class="form-group claims" style="">
        <div class="col-md-10">
            @foreach (var key in ViewBag.Claims.Keys)
            {
                <input type="checkbox" name="claims" value="@key" /> <label>@ViewBag.Claims[key]</label> <br />
            }
        </div>
    </div>




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="تعديل" />
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




