
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model UserViewModel


@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>تعديل المستخدم</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="">
            @Html.LabelFor(m => m.UserGroups, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.UserGroup, Model.UserGroups, "اختار مستخدم مجموعة", new { @class = "form-control" })
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="تعديل" />
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




