
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model UserViewModel


@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    var UserGroupsList = new List<SelectListItem>();
    foreach (var userGroup in Model.UserGroups)
    {
        UserGroupsList.Add(new SelectListItem() { Value = userGroup.ID.ToString(), Text = userGroup.Name, Selected = Model.UserGroup == userGroup.Name });
    }
    @Html.AntiForgeryToken()
    <h4>تعديل المستخدم</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.RegisterVM)
    @Html.HiddenFor(model =>model.UGId,new { id = "SelectedUserGroupID" } )
    @Html.HiddenFor(model => model.UserGroup, new { id = "SelectedUserGroup" });

    <div class="form-group">
        @Html.LabelFor(m => m.UserName, "اسم المستخدم", new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control col-md-10" })

        @*<div class="col-md-10">
            </div>*@
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.UserGroups, "مجموعة المستخدمين", new { @class = "col-md-2 control-label" })
        @Html.DropDownListFor(m => m.UserGroup,UserGroupsList, "اختار مستخدم مجموعة", new { @class = "form-control col-md-10", id = "userGroupDDL" })


    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" class="btn btn-success" value="تعديل"  id="btnSubmitUserEdit"/>
            @Html.ActionLink("رجوع", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>
    @*<div class="form-control">
        </div>*@

}
<script>
    $("#btnSubmitUserEdit").click(function () {
            var selectedGroup = $("#userGroupDDL option:selected").text();
            var selectedGroupID = $("#userGroupDDL option:selected").val();
            $("#SelectedUserGroupID").val(selectedGroupID);

            $("#SelectedUserGroup").val(selectedGroup);
    });
    $.each('option'), function () {
        this.prop('selected', true);
    }
    
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




