@model PagedList.IPagedList<Marsad.Models.PendingLog>
@using PagedList.Mvc;
@using Marsad.Helpers;

@{
    ViewBag.Title = "مراجعة الأرقام والتحديثات";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>مراجعة الأرقام والتحديثات</h1>
            <hr />
            <div class="col-sm-8 offset-sm-2">
                <form action="@Url.Action("PendingLog")">
                    <div class="input-group">
                        <input class="form-control" name="searchString" value="@ViewBag.CurrentFilter" placeholder="بحث" />
                        <span class="input-group-btn">
                            <input type="submit" value="بحث" class="btn btn-primary" />
                        </span>
                    </div>
                </form>
            </div>
            <table class="table table-striped jambo_table">
                <thead>
                    <tr>
                        <th>
                            <a href="@Url.Action("PendingLog",new { sortOrder=ViewBag.CodeSortParm,currentFilter=ViewBag.CurrentFilter})">
                                <i class="@Html.GetSortingClass((string)ViewBag.CurrentSort,"Code")"></i> كود العملية
                            </a>
                        </th>
                        <th>
                            <a href="@Url.Action("PendingLog",new { sortOrder=ViewBag.NameSortParm,currentFilter=ViewBag.CurrentFilter})">
                                <i class="@Html.GetSortingClass((string)ViewBag.CurrentSort,"Name")"></i> العملية
                            </a>
                        </th>
                        <th>
                            <a href="@Url.Action("PendingLog",new { sortOrder=ViewBag.UserSortParm,currentFilter =ViewBag.CurrentFilter})">
                                <i class="@Html.GetSortingClass((string)ViewBag.CurrentSort," User")"></i> المستخدم
                            </a>
                        </th>
                        <th>
                            <a href="@Url.Action("PendingLog",new { sortOrder=ViewBag.DateSortParm,currentFilter =ViewBag.CurrentFilter})">
                                <i class="@Html.GetSortingClass((string)ViewBag.CurrentSort," Date")"></i> تاريخ العملية
                            </a>
                        </th>
                        <th>
                            <a href="@Url.Action("PendingLog",new { sortOrder=ViewBag.NotesSortParm,currentFilter=ViewBag.CurrentFilter})">
                                <i class="@Html.GetSortingClass((string)ViewBag.CurrentSort,"Notes")"></i> القيم المحدثة
                            </a>
                        </th>
                        <th>
                            تأكيد
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Log</td>
                        <td>@item.UserName</td>
                        <td>@item.ActionDate.ToString()</td>
                        <td>@GetDetails(item.GeoAreaID, item.EquationYearID)</td>
                        <td>
                            <form action="@Url.Action("GeoAreasConfirm","Update")" method="post">
                                @Html.AntiForgeryToken()
                                <input name="GeoAreaID" type="hidden" value="@item.GeoAreaID" />
                                <input name="EquationYearID" type="hidden" value="@item.EquationYearID" />
                                <button class="btn btn-primary confirm" type="button">تأكيد</button>
                            </form>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

            <div class="col-md-2">صفحة @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</div>
            @if (Model.PageCount > 1)
            {
                <div class="col-md-8">
                    @Html.PagedListPager(Model, page => Url.Action("PendingLog", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            }


        </div>
    </div>
</div>
